# Importing Libraries

In [126]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1.Combining varibales - gives an input

In [3]:
(one,two,three,four,can,do,python,more)= (1,2,3,4,'can','do','python','more')

In [4]:
print(one,two,three,four,can,do,python,more)

1 2 3 4 can do python more

## 2.Code for multiplying two numbers

In [8]:
(number1,number2)=(15,30)

In [9]:
print(number1*number2)

450

## 3.Function to return True if the first and last number of given list is same. If numbers are different then return False.

In [5]:
number_x = [10,20,30,40,10]

if len(number_x)>=2 and number_x[0]==number_x[-1]:
    print("result is True")
else:
    print("result is False")

result is True

In [6]:
number_y = [75,65,35,75,30]

if len(number_y)>=2 and number_y[0]==number_y[-1]:
    print("result is True")
else:
    print("result is False")

result is False

## 4.Print those numbers which are divisble by 5

In [7]:
list_x = [10,20,33,46,55]

for num in list_x:
    if num % 5 == 0:
        print(num)

10
20
55

## 5.Finding substring in the given string

In [44]:
str_x = "Anjali is good developer.Anjali is a writer."

In [45]:
str_x.count('Anjali')

2

## 6.Print the Pattern

In [27]:
rows = 5

for i in range(1,rows+1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## 7.Multiplication Table from 1 to 10

In [30]:
for i in range(1,11):
    for j in range(1,11):
        result = i * j
        print(result, end=" ")
        
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## 8.Numpy to convert a list to an array. Convert the list of weights from a list to a numpy array. Then convert all of the weights from kilograms to pounds. Use the formula celsius = Kelivn 273.15 to convert klevin to celsius. Print the resulting array of temperature in celsius.

In [6]:
import numpy as np

In [7]:
Temp_klevin = [390.65, 107.52,225.25,275.98,318.18,88.45]

In [8]:
Temp_celsius = np.array(Temp_klevin) - 273.15

In [10]:
print("Temperature in celsius")
print(Temp_celsius)

Temperature in celsius
[ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

## 9.Building a Dataframe

In [52]:
import pandas as pd

data = {
    'Student':['Tommy','Fred','Gail','Venkatesh','Randy','Ariel'],
    'Hair Color':['Brown','Grey','Blonde','Black','Black','Brown'],
    'Eye Color':['Hazel','Green','Blue','Black','Hazel','Blue'],
    'Weight in kgs':['60','80','76','75','88','85']
}

df = pd.DataFrame(data)

In [33]:
print(df)

     Student Hair Color Eye Color Weight in kgs
0      Tommy      Brown     Hazel            60
1       Fred       Grey     Green            80
2       Gail     Blonde      Blue            76
3  Venkatesh      Black     Black            75
4      Randy      Black     Hazel            88
5      Ariel      Brown      Blue            85

In [39]:
Hair_Color = df['Hair Color']

In [40]:
print(Hair_Color)

0     Brown
1      Grey
2    Blonde
3     Black
4     Black
5     Brown
Name: Hair Color, dtype: object

In [42]:
Eye_Color_df = df['Eye Color']

In [43]:
print(Eye_Color_df)

0    Hazel
1    Green
2     Blue
3    Black
4    Hazel
5     Blue
Name: Eye Color, dtype: object

In [61]:
import pandas as pd

data = {
    'Student':['Tommy','Fred','Gail','Venkatesh','Randy','Ariel'],
    'Hair Color':['Brown','Grey','Blonde','Black','Black','Brown'],
    'Eye Color':['Hazel','Green','Blue','Black','Hazel','Blue'],
    'Weight in kgs':['60','80','76','75','88','85']
}

df = pd.DataFrame(data)

student_weight_df = df[['Student','Weight in kgs']]

In [62]:
print(student_weight_df)

     Student Weight in kgs
0      Tommy            60
1       Fred            80
2       Gail            76
3  Venkatesh            75
4      Randy            88
5      Ariel            85

In [65]:
observations = df.loc[1:3]
print(observations)

     Student Hair Color Eye Color Weight in kgs
1       Fred       Grey     Green            80
2       Gail     Blonde      Blue            76
3  Venkatesh      Black     Black            75